<div style="text-align: center;"><h1>Practical Test</h1></div>
<div class="wrapper">
    <div class="container">
      <div class="col-left">
        <div class="login-form">
          <h2>Login</h2>
          <form>
            <p>
              <input type="email" placeholder="Email" required [(ngModel)]="email" name="email">
            </p>
            <p>
              <input type="password" placeholder="Password" required [(ngModel)]="password" name="password">
            </p>
            <p>
              <input class="btn" type="submit" value="Sing In" (click)="login()"/>
            </p>
            <p>
              <a href="">Forget Password?</a> <br> or <br> <a href="">Register Here</a>
            </p>
          
          </form>
        </div>
      </div>
      <div class="col-right">
        <div class="login-social">
          <h2>Login with</h2>
          <a class="btn btn-go" href="">Google</a>
          <a class="btn btn-fb" href="">Facebook</a>
    
        </div>
      </div>
    </div>
   
  </div>